@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color:yellow;"></body>

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
</div>
<div>
    <center>
        <img src="https://www.institutolifecoaching.com.br/blog/wp-content/uploads/2020/06/11062020.jpg" alt="Capivara" width="480" height="320">
    </center>
</div>