@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <center>
        <img src="https://bensvet.com.br/wp-content/uploads/2019/04/como-montar-uma-clinica-veterinaria-min.jpg">
    </center>
</div>